<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
        <img src="../../assets/icon/icon.png" alt="icon">
      <ion-toolbar color="primary">
        <ion-title>Earth-Weather-Now</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" routerLink="/home" routerDirection="forward" (click)="menuSchliessen()"><ion-icon slot="start" name="sunny"></ion-icon>Wettervorhersage</ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" routerLink="/save-list" routerDirection="forward" (click)="menuSchliessen()"><ion-icon slot="start" name="list"></ion-icon>Gespeicherte Vorhersagen</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
