<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none" color="primary">
      <ion-thumbnail slot="start">
        <img src="../../assets/icon/icon.png" alt="icon">
      </ion-thumbnail>
      <ion-title>Gespeicherte Wettervorhersage</ion-title>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content color="primary">
  <ion-card *ngIf="!closeInformation">
    <ion-item>
      <ion-icon name="information-circle-outline"></ion-icon>
      Info
    </ion-item>

    <ion-card-content>
      Hier sehen Sie eine Liste mit den gespeicherten Wettervorhersagen.
      Die entsprechenden Wettervorhersagen sind nach dem aktuellsten Speicherdatum sortiert.
    </ion-card-content>
    <ion-item-group>
      <ion-item lines="none" color="light">
        <ion-icon name="filter-circle-outline" slot="start"></ion-icon>
        Über den Button kann die Richtung der Sortierung geändert werden.
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-icon name="trash-outline" slot="start"></ion-icon> 
        Dieser Button löscht die komplette Liste.
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
        Über das Wischen nach Links auf einem Listenelement wird die 
        jeweilige Vorhersage gelöscht. 
      </ion-item>
    </ion-item-group>
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="showSavePageInformation"></ion-checkbox>
      <ion-label>Nicht mehr anzeigen</ion-label>
      <ion-button slot="end" color="secondary" (click)="closeButtonPressed()">schließen</ion-button>
    </ion-item>
  </ion-card>
    
  <ion-card>
      <ion-item-group  *ngIf="listIsEmpty">
        <ion-item-divider>
          <ion-label color="danger"><b>Nichts gefunden!</b></ion-label>
        </ion-item-divider>
  
        <ion-item lines="none">
          <ion-text>
            <p>
              Sie haben keine Wettervorhersagen gespeichert.
            </p>
          </ion-text>
        </ion-item>
      </ion-item-group>
     
      <ion-list *ngIf="!listIsEmpty">
        <ion-item><ion-icon name="filter-circle-outline" slot="end" (click)="sortList()"></ion-icon><ion-icon name="trash-outline" slot="end" (click)="deleteAll()"></ion-icon></ion-item>
        <ion-card *ngFor="let weather of weatherlist">
          <ion-item-sliding #slidingItem color="tertiary">
            <ion-item lines="none" (click)="onClicked(kategorie)" color="secondary">
              <ion-thumbnail slot="start">
                <img src={{weather.wetterBildSource}} alt="icon">
              </ion-thumbnail>
              <ion-label>{{weather.date | date: 'dd.MM.yyyy HH:mm' }} Uhr</ion-label>
              <ion-label>{{weather.cityName}}, {{weather.laenderCode}}</ion-label>
            </ion-item>
            <ion-item-options slide="end">
              <ion-item-option color="danger" (click)="onLoeschen(weather, slidingItem)">
                Löschen
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>
      </ion-list>
    
    </ion-card>
</ion-content>