<ion-header [translucent]="true" color="primary">

  <ion-toolbar color="primary">
    <ion-item lines="none" color="primary">
      <ion-thumbnail slot="start">
        <img src="../../assets/icon/icon.png">
      </ion-thumbnail>
      <ion-title>Earth Weather Now</ion-title>
    </ion-item>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="city" placeholder="Ort oder PLZ" autocomplete="postal-code"></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="onErweitert()">
       erweitert
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="tertiary" *ngIf="erweiterteSuche">
    <ion-item lines="none" color="primary">
        <ion-input [(ngModel)]="stateCode" placeholder="optional: Statecode" autocomplete="country-code" colo></ion-input>
      	<ion-input [(ngModel)]="laenderCode" placeholder="optional: Ländercode" maxlength="2" minlegth="2" value="string"></ion-input>
    </ion-item>
  </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="true" color="primary">
    <ion-card>
      <ion-item-group>
        <ion-item-divider>
          <ion-label color="warning"><b>Informationen</b></ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-text>
            <p>
              Laden Sie <b>aktuelle Wetterdaten für jeden Ort</b> auf der Erde, einschließlich <b>über 200.000 Städten</b>!<br>
              Diese <b>Wetterdaten</b> werden <b>aus verschiedenen Quellen durch OpenWeather</b> gesammelt und <b>bereitgestellt</b>.
            </p>
            <p>
              Um das <b>Wetter anzuzeigen</b> müssen Sie <b>in der Suche die Postleitzah</b>l oder den <b>Ort eingeben</b> und die Suche starten. Eine erweiterte
              Suche kann mit dem zugehörigen Button durchgeführt werden. Ihre <b>Suche mit dem Ergebnis der Daten kann</b> von dieser App <b>gespeichert
              werden und kann</b> über das <ion-icon name="menu-outline"></ion-icon> <b> angezeigt sowie bearbeitet werden</b>.
            </p>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Nicht mehr anzeigen</ion-label>
          <ion-button slot="end" color="secondary" (click)="getData()">schließen</ion-button>
        </ion-item>
      </ion-item-group>
    </ion-card>

    <ion-card>
      <!-- Beschreibung des Ortes -->
      <ion-item-divider>
        <ion-label class="center" color="primary">Ortname, LK</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-text class="center">Koordinaten</ion-text>
      </ion-item>
      

      <!-- Temperatur eines Ortes mit Wetter-->
      <ion-item lines="none"> 
        <ion-text class="center"><img src="../../assets/wetter/sonne/sonne.png"></ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text class="center">Beschreibung des Wetters</ion-text>
      </ion-item>
      <ion-item-divider>
        <ion-title class="ion-text-center">10°C</ion-title>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-text class="center">gefühlt: 08°C</ion-text>
      </ion-item>
      <ion-grid>
        <!-- Details zur Temperatur -->
        <ion-row >
          <ion-col>
            <ion-item lines="none">
              <ion-text>T: 10°C</ion-text>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-text>H: 20°C</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
         <ion-col>
          <ion-item lines="none">
            <ion-text>Feuchtigkeit: 10%</ion-text>
          </ion-item>
         </ion-col>
         <ion-col>
          <ion-item lines="none">
            <ion-text>Regen: 10%</ion-text>
          </ion-item>
         </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
           <ion-item lines="none">
             <ion-text>Wind: 10 km/h</ion-text>
           </ion-item>
          </ion-col>
          <ion-col>
           <ion-item lines="none">
             <ion-text>Luftdruck: 1004 hPa</ion-text>
           </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
           <ion-item lines="none">
             <ion-text>Sichtweite: 10 km</ion-text>
           </ion-item>
          </ion-col>
          <ion-col>
           <ion-item lines="none">
             <ion-text>Luftdruck: 1004 hPa</ion-text>
           </ion-item>
          </ion-col>
         </ion-row>
      </ion-grid>

      <ion-item-divider>
        <ion-label class="center">Zeitzone: 3000</ion-label>
      </ion-item-divider>
      <!-- Sonnen-auf- oder unter-gang eines Ortes -->
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-thumbnail>
              <img src="../../assets/wetter/sonne/sonnenaufgang.png">
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <div>7Uhr</div>
          </ion-col>

          <ion-col>
            <ion-thumbnail>
              <img src="../../assets/wetter/sonne/sonnenuntergang.png">
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <div>7Uhr</div>
          </ion-col>
        </ion-row>
      </ion-grid>   

      <!-- Wetter eines Ortes -->
    </ion-card>
</ion-content>